annotated-types
anyio
certifi
charset-normalizer
click
colorama
fastapi
h11
idna
joblib
numpy
pydantic
pydantic_core
requests
scikit-learn
scipy
sniffio
starlette
threadpoolctl
typing_extensions
urllib3
uvicorn